@media (max-width: 1727px) {
  /* 元宝 */
  .yb-layout .agent-dialogue__tool__download {
    display: none !important;
  }
  .yb-common-nav__wrap [class^='index_pc_download'] {
    display: none !important;
  }

  /* Github Copilot */
  .logged-in .logged-in .header-wrapper {
    display: none !important;
  }
}
